################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Tetris/bin/Debug
/src/Tetris/obj/Debug
/src/Tetris/obj/Debug
/src/Tetris/obj/Debug
/src/Tetris/obj/Debug/Tetris_MarkupCompile.lref
/src/Tetris/obj/Debug/Tetris_MarkupCompile.i.lref
/src/Tetris/obj/Debug/Tetris_MarkupCompile.i.cache
/src/Tetris/obj/Debug/Tetris_MarkupCompile.cache
/src/Tetris/obj/Debug/Tetris.Properties.Resources.resources
/src/Tetris/obj/Debug/Tetris.pdb
/src/Tetris/obj/Debug/Tetris.g.resources
/src/Tetris/obj/Debug/Tetris.exe
/src/Tetris/obj/Debug/Tetris.csprojResolveAssemblyReference.cache
/src/Tetris/obj/Debug/Tetris.csproj.GenerateResource.Cache
/src/Tetris/obj/Debug/Tetris.csproj.FileListAbsolute.txt
/src/Tetris/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Tetris/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Tetris/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Tetris/obj/Debug/MainWindow.g.i.cs
/src/Tetris/obj/Debug/MainWindow.g.cs
/src/Tetris/obj/Debug/MainWindow.baml
/src/Tetris/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Tetris/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/Tetris/obj/Debug/CoreCompileInputs.cache
/src/Tetris/obj/Debug/App.g.i.cs
/src/Tetris/obj/Debug/App.g.cs
/src/.vs/Tetris/v15/.suo
